---
---
@import "{{ site.theme }}";
#header {
     margin: 0;
     border: 0;
     padding: 0;
     display: none;
}
div.wrapper section:first-child {
     margin-top: 0;
}
span.credits {
     display: none;
}
